[Unit]
Description=Ubuntu NewRelicAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/newrelic/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target