[Unit]
Description=Ubuntu DynatraceROIAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/dynatraceroi/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target