[Unit]
Description=Ubuntu GitLabIssueAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/gitlabissue/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target