[Unit]
Description=Ubuntu CircleciAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/circleci/InSightsCircleciAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/circleci/InSightsCircleciAgent.sh stop

[Install]
WantedBy=multi-user.target