[Unit]
Description=Ubuntu JenkinsAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/jenkins/InSightsJenkinsAgent.sh

[Install]
WantedBy=multi-user.target