<div layout="row" flex=100>
	<div layout="column" flex=30>
		<div>
			<h4>Specify field types</h4>
			<div ng-repeat="targets in editorCtrl.insightsChartEditorModel.targets">
				<b><u>{{targets.id}}</u></b>
				<div ng-repeat="columnModel in targets.columnModel">
					<span style="font-weight: bold;">{{columnModel.name}}:&nbsp;&nbsp;</span>
					<md-input-container>
						<label>Select Type</label>
						<md-select ng-model="columnModel.type">
							<md-option ng-repeat="type in editorCtrl.supportedDataTypes" ng-value="type">
								{{type}}
							</md-option>
						</md-select>
					</md-input-container>
				</div>
				<!--<div style="padding-bottom: 10px;" ng-if="editorCtrl.chipsModel[targets.id] !== undefined">
					<md-chips ng-model="editorCtrl.chipsModel[targets.id]"
							md-transform-chip="editorCtrl.transformChip($chip)"
							md-require-match="true">
						<md-autocomplete
							md-selected-item="editorCtrl.selectedItem[targets.id]"
							md-search-text="editorCtrl.searchText[targets.id]"
							md-items="columnName in editorCtrl.querySearch(editorCtrl.searchText[targets.id], targets.id)"
							md-item-text="columnName"
							placeholder="Search for Column">
							<span md-highlight-text="editorCtrl.searchText[targets.id]">{{columnName}}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
								<strong>{{$chip.name}}</strong>
							</span>
						</md-chip-template>
					</md-chips>
				</div> -->
			</div>			
		</div>
	</div>
	<div layout="column" flex=70>
		<div layout="row" flex="100" style="padding-bottom: 20px;">
			<div flex="100">
				<md-input-container class="md-block">
					<label>Data Transformation Instructions</label>
					<textarea ng-model="editorCtrl.insightsChartEditorModel.transformInstrctions" rows="5" md-select-on-focus></textarea>
				</md-input-container>
			</div>
		</div>
		<div layout="row" flex="100" style="padding-bottom: 20px;">
			<div flex="100">
				<md-input-container class="md-block">
					<label>Data Join Instructions</label>
					<textarea ng-model="editorCtrl.insightsChartEditorModel.joinInstructions" rows="5" md-select-on-focus></textarea>
				</md-input-container>
			</div>
		</div>
		<div layout="row" flex="100" style="padding-bottom: 20px;">
			<div flex="100">
				<md-input-container class="md-block">
					<label>Chart Options</label>
					<textarea ng-model="editorCtrl.insightsChartEditorModel.chartOptions" rows="5" md-select-on-focus></textarea>
				</md-input-container>
			</div>
		</div>
		<div flex="100" layout="row" style="padding-top: 30px;">
			<div flex="50">
				<md-button layout ng-click="editorCtrl.loadChartEditor()" class="md-raised">Load Chart</md-button>
			</div>
			<div flex="50">
				<md-button layout ng-click="editorCtrl.saveChartOptions()" class="md-raised md-primary">Save Chart</md-button>
			</div>
		</div>
		<div flex=100 id="chartEditorContainer"></div>
	</div>
</div>