[Unit]
Description=Ubuntu SnowAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/snow/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target