*.pydevproject
*.classpath
*.project
*.settings*
*/target/*
*.log
*.gitignore
**/target/*
**/dependency-reduced-pom.xml
**/package-lock.json
**/test-output/*
/.metadata/
**/PlatformUI4/.angular/**
**/PlatformUI3/.angular/**
**/PlatformUI4/node_modules/**
**/PlatformUI4/node/**
**/PlatformUI4/insights/**

