.content-mesaage {
    max-width: 370px !important;
    word-wrap: break-word !important;
    font-size: 14px;
    text-align: left;
}
.singleStatRowCss{
	 background-color:#5d62b5;
}
.tablecaption
{
	text-align: center;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
	color:#434456;
       
}

.pagebreak
{
	margin-top: 50%;
}



.singlestatCSS {
    width: 250px;
    height: 150px;	
    text-align: center;
	margin-bottom:70%;
    font-size: 70px;
    color: white;
}

.content {
    margin-left: 1.5%;
    margin-top: 4%;
    text-align: center;
}

.table td {
    border: black solid 1px !important;
    text-align: center;
	
    
}

.table{
	width:400px;
}

.table tr:nth-child(even){background-color: #f2f2f2}

.table tr{
   line-height: 7px;
   min-height: 7px;
   height: 7px;  
   width:15px;
}
.h3 {
    text-align: center;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 16px;
}

.topAllignment{
	margin-top:5%
}

.table th {
    border: black solid 1px !important;
    text-align: center;
     background-color: #4CAF50;
  color: white;
}

.row {
    margin-top: 1%;
}

h4 {
    margin-top: 1.5%;    
	 margin-left: 10.5% !important;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: blue;
    font-size: 16px;
	text-align:left;
}

ul {
    margin: 0px
}