[Unit]
Description=Ubuntu DatadogAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/datadog/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target