[Unit]
Description=Ubuntu azurefinops Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/azurefinops/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target