<div layout="row" flex=100>
	<div flex=30>
		<b>Visualization:</b>
		<md-select ng-model="insightsVizEditorCtrl.insightsVizPanelMetaData.selectedVizOption">
			<md-option ng-repeat="(key, value) in insightsVizEditorCtrl.vizOptions" ng-value="key">
				{{key}}
			</md-option>
		</md-select>
	</div>
	<div flex=60 ng-if="insightsVizEditorCtrl.insightsVizPanelMetaData.selectedVizOption != undefined">
		<b>Field Mapping:</b>
		<div ng-if="insightsVizEditorCtrl.insightsVizPanelMetaData.selectedVizOption != undefined">
			<div layout="row" ng-repeat="field in insightsVizEditorCtrl.vizOptions[insightsVizEditorCtrl.insightsVizPanelMetaData.selectedVizOption].dataFormat">
				<md-input-container>
				<label>Select {{field.fieldName}}</label>
				<md-select ng-model="insightsVizEditorCtrl.insightsVizPanelMetaData.fieldMapping[field.fieldName]" ng-change="insightsVizEditorCtrl.render()">
					<md-option><em>None</em></md-option>
					<md-option ng-repeat="key in insightsVizEditorCtrl.parsedData.columns" ng-value="key">{{key}}</md-option>
				</md-select>
				</md-input-container>
			</div>
		</div>
	</div>
</div>