<div>
  <div class="arrange-horizontally-fileDialog">
    <div class="gridHeader">
      <div class="dialogHeader">{{dialogHeader}}
        <a style="margin-left: auto;">
          <mat-icon (click)="closeDialog()" svgIcon="close_dialog" [ngStyle]="{'width': '30px', 'height': '30px'}">
          </mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div style="display:inline-block;padding-top: 6%;padding-left: 6%;">
    <input *ngIf="multipleFileAllowed" class="form-class" id="file"  onClick="value = null"  type="file" multiple="multiple"
      (change)="onFileChanged($event)" />
    <input *ngIf="!multipleFileAllowed" class="form-class" id="file"  onClick="value = null"  accept=".json" type="file"
      (change)="onFileChanged($event)" />
    <div class="btnStyle">
      <button mat-icon-button (click)="upload()">
        <mat-icon style="font-size: 40px;" title="Upload " class="mat-icon material-icons">
          cloud_upload
        </mat-icon>
      </button>
      <button mat-icon-button (click)="cancelFileUpload()">
        <mat-icon style="font-size: 40px;margin-left: 15px;" title="Cancel Upload " class="mat-icon material-icons">
          cancel
        </mat-icon>
      </button>
    </div>
  </div>
</div>