<div>
  <div class="arrange-horizontally-fileDialog">
    <div class="gridHeader">
      <div class="dialogHeader">Upload JSON File
        <a style="text-align: right;padding-left: 238px;">
          <mat-icon (click)="closeDialog()" svgIcon="close_dialog" [ngStyle]="{'width': '30px', 'height': '30px'}">
          </mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div style="display:inline-block;padding-top: 6%;padding-left: 6%;">
    <input class="form-class" id="file" type="file" accept=".json" (change)="onFileChanged($event)" />
    <div class="btnStyle">
      <button mat-icon-button (click)="upload()">
        <mat-icon style="font-size: 40px;" title="Upload Image " class="mat-icon material-icons">
          cloud_upload
        </mat-icon>
      </button>
      <button mat-icon-button (click)="cancelFileUpload()">
        <mat-icon style="font-size: 40px;margin-left: 15px;" title="Cancel Upload " class="mat-icon material-icons">
          cancel
        </mat-icon>
      </button>
    </div>
  </div>
</div>