[Unit]
Description=Ubuntu XlReleaseAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/xlrelease/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target