[Unit]
Description=Ubuntu VersionOneAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/versionone/InSightsVersionOneAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/versionone/InSightsVersionOneAgent.sh stop

[Install]
WantedBy=multi-user.target