[Unit]
Description=Ubuntu awscodecommit Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/awscodecommit/InSightsAwsCodeCommitAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/awscodecommit/InSightsAwsCodeCommitAgent.sh stop

[Install]
WantedBy=multi-user.target