<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	<test name="PlatformEnterpriseEngineTest">
		<classes>
			<class name="com.cognizant.devops.platformenterpriseengine.test.parser.InsightsGeneralParserTest" />
		</classes>
	</test>
</suite>