[Unit]
Description=Ubuntu UCDAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/ucd/InSightsUCDAgent.sh

[Install]
WantedBy=multi-user.target