[Unit]
Description=Ubuntu SonarAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/sonar/InSightsSonarAgent.sh

[Install]
WantedBy=multi-user.target