[Unit]
Description=Ubuntu GitAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/git/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target