[Unit]
Description=Ubuntu GitAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/git/InSightsGitAgent.sh

[Install]
WantedBy=multi-user.target