<?xml version="1.0" encoding="utf-8"?>
<!--  <!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration SYSTEM 
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/insight</property>

        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">update</property>
       <!--  <mapping class="test.Student"/>-->
       <!-- <mapping resource="Test.hbm.xml"/> -->  
        <property name="show_sql">false</property> 
		<property name="format_sql">false</property> <!-- true -->
    </session-factory>
</hibernate-configuration>