[Unit]
Description=Ubuntu NexusAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/nexus/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target