
.md-accordion .expandCollapse:active {
  border:0px;
}
.md-accordion .expandCollapse:before {
  content: '';
    position: absolute;
    top: 30px;
    right: 10px;
    border-color: #666 transparent transparent;
    border-width: 8px;
    border-style: solid;
}

.capitalize :first-letter{
   text-transform: uppercase;
}

.outerdiv{
    width:50%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.highlightedText{
  font-style:italic;
  font-weight:bold;
}
.md-toolbar-tools {
  font-size:14px !important;
}

.md-accordion .active:before {
  content: '';
    position: absolute;
    top: 30px;
    right: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #666;
    border-width: 8px;
}


.md-accordion .dataContent {
  background: #fff;
  height:0px;
  overflow:hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .activeContent {
  height:auto;
  padding:20px;
  display:block;
}

.md-accordion md-toolbar{
  cursor:pointer;
  border-bottom:1px solid rgb(63,107,181)
}

.textst{
  font-family: proxima_novaregular;
  font-size: 14px;
  color: #666666 !important;
  text-decoration:none !important;
}
a{
  color: #666666;
}
a:hover{
color:#7682c5 !important;
}

.fnt-bld{
  font-weight:bold;
}

.txthover {
  color:#7682c5 !important;
  text-decoration:underline !important
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0px 0px 20px #333;
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family:proxima_novasemibold !important
  }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#accrdion {
    transition: margin-left 0.5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
    .sidenav a {font-size: 14px;}
}

md-radio-button .md-container{
top: 50%;
transform: translateY(0);
}

md-radio-button {
  margin-bottom: 10px !important;
}

.arrowdown {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f00;
  margin-top:15px
}

.flthd {
  margin-top:15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:1px solid #eee;
  font-size:14px;
}

.flthld {
  margin-left:20px;
  display:none;
  padding-top:10px
}