<?xml version="1.0" encoding="UTF-8"?>


<suite name = "Suite" >
	<test name = "PlatformServiceTest">
      <classes>
          <class name = "com.cognizant.devops.platformservice.test.testngInitializer.TestngInitializerTest"/>
        <class name = "com.cognizant.devops.platformservice.test.about.AboutServiceTest"/>
          <class name = "com.cognizant.devops.platformservice.test.agentManagement.AgentManagementTest"/>
           <class name = "com.cognizant.devops.platformservice.test.grafana.UserManagementServiceTest"/> 
          <class name = "com.cognizant.devops.platformservice.test.health.AgentHealthServiceTest"/>
          <class name = "com.cognizant.devops.platformservice.test.dataDictionary.DataDictionaryTest"/> 
      </classes>
	 </test>
	<!-- <test name = "AboutTest"> <classes> </classes> </test> <test name = 
		"AgentManagementTest"> <classes> </classes> </test> --> 
</suite>