<?xml version="1.0" encoding="UTF-8"?>


<suite name="Suite">
	<test name="PlatformServiceTest">
		<classes>
			<class
				name="com.cognizant.devops.platformservice.test.testngInitializer.TestngInitializerTest" />
			<class
				name="com.cognizant.devops.platformservice.test.about.AboutServiceTest" />
			<class
				name="com.cognizant.devops.platformservice.test.agentManagement.AgentManagementTest" />
			<class
				name="com.cognizant.devops.platformservice.test.CorrelationBuilder.CorrelationBuilderTest" />
			<class
				name="com.cognizant.devops.platformservice.test.bulkUpload.BulkUploadTest" />
            <class 
                name = "com.cognizant.devops.platformservice.test.webhook.WebhookServiceTest"/>
			<class
				name="com.cognizant.devops.platformservice.test.grafanaUser.GrafanaUserDetailsTest" />
			<class
				name="com.cognizant.devops.platformservice.test.accessGroupManagement.GroupsAndUserTest" />
		</classes>
	</test>
</suite>