[Unit]
Description=Ubuntu azurecsvparserfinops Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/azurecsvparserfinops/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target