[Unit]
Description=Ubuntu ArtifactoryAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/artifactory/InSightsArtifactoryAgent.sh

[Install]
WantedBy=multi-user.target