[Unit]
Description=Ubuntu AwsAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/aws/InSightsAwsAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/aws/InSightsAwsAgent.sh stop

[Install]
WantedBy=multi-user.target