[Unit]
Description=Ubuntu awscodepipeline Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/awscodepipeline/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target