[Unit]
Description=Ubuntu JiraAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/jira/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target