[Unit]
Description=Ubuntu GitLabAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/gitlab/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target