[Unit]
Description=Ubuntu GitLabAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/gitlab/InSightsGitLabAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/gitlab/InSightsGitLabAgent.sh stop

[Install]
WantedBy=multi-user.target