[Unit]
Description=Ubuntu awsfinops Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/awsfinops/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target