[Unit]
Description=Ubuntu AppDynamicsAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/appdynamics/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target