[Unit]
Description=Ubuntu TFSDeploymentAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/tfsdeployment/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target