[Unit]
Description=Ubuntu RallyAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/rally/InSightsRallyAgent.sh

[Install]
WantedBy=multi-user.target