<div class="graph-wrapper">
	<div  class="graph-canvas-wrapper">
		<div class="graph-legend-wrapper">
			<section class="graph-legend">
					<div  style = "text-align:center;padding-top:50px;padding-bottom:10px" ng-style = "ctrl.uniqueSingleStatPanelMetaData.inputProperties" ng-if="ctrl.validQuery == true">
						{{ctrl.finalStat}}
					</div>
					<div style="text-align:center;padding-top:50px;padding-bottom:10px;font-size:30px" ng-if="ctrl.validQuery == false">
						{{ctrl.finalStat}}
					</div>
			</section>
		</div>
    </div>
</div>
<div class="clearfix"></div>