<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %p [%thread]:%c{1}.%M()%L :: %m%n" />
		</Console>

		<RollingFile name="RollingFile"
			filename="${env:INSIGHTS_HOME}/logs/PlatformWorkflow/platformWorkflow.log"
			filepattern="${env:INSIGHTS_HOME}/logs/PlatformWorkflow/platformWorkflow-%i.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %p [%thread]:%c{1}.%M()%L :: %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

	</Appenders>

	<Loggers>
	
		<Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="RollingFile" />
			<AppenderRef ref="Console" />
        </Logger>
		<Root level="debug">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</Configuration>