[Unit]
Description=Ubuntu buildmaster Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/buildmaster/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target