
[Unit]
Description=Ubuntu Tomcat Service

[Service]
Type=forking
ExecStart=/opt/apache-tomcat/bin/startup.sh
ExecStop=/opt/apache-tomcat/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
