[Unit]
Description=Ubuntu azurereleaseagent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/azurerelease/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target
