[Unit]
Description=Ubuntu HpAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/hp/InSightsHpAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/hp/InSightsHpAgent.sh stop

[Install]
WantedBy=multi-user.target