[Unit]
Description=Ubuntu RundeckAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/rundeck/InSightsRundeckAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/rundeck/InSightsRundeckAgent.sh stop

[Install]
WantedBy=multi-user.target