[Unit]
Description=Ubuntu RundeckAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/rundeck/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target