[Unit]
Description=Ubuntu BitBucketAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/bitbucket/InSightsBitBucketAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/bitbucket/InSightsBitBucketAgent.sh stop

[Install]
WantedBy=multi-user.target