[Unit]
Description=Ubuntu azureboardagent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/azureboard/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target
