[Unit]
Description=Ubuntu JenkinsLogParserAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/jenkinslogparser/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target