[Unit]
Description=Ubuntu svnAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/svn/InSightsSvnAgent.sh start
ExecStop=/bin/bash /opt/insightsagents/PlatformAgents/svn/InSightsSvnAgent.sh stop

[Install]
WantedBy=multi-user.target