[Unit]
Description=Ubuntu svnAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/svn/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target