[Unit]
Description=Ubuntu AwsAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/aws/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target