[Unit]
Description=Ubuntu BitBucketAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/bitbucketallbranch/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target