[Unit]
Description=Ubuntu DynatraceAgent Service

[Service]
Type=forking
ExecStart=/bin/bash /opt/insightsagents/PlatformAgents/dynatrace/__AGENT_KEY__/__AGENT_KEY__.sh

[Install]
WantedBy=multi-user.target